{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "singleAttributePerLine": true
      }
    }
  ]
}
